*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgba(221,8,144,1), rgba(75,0,130,1));
}

.gridwrapper{
    display: grid;
    width: 99.99vw;
    height: 99.99vh;
    grid-gap: 4px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h h na"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "f f f"
}

.logo{
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo:hover{
    background: linear-gradient(135deg, rgba(221,8,144,1), rgba(76, 0, 130, 0.747), rgba(221,8,144,1));
    opacity: .9;
}

nav{
    grid-area: na;
    display: flex;
    position: absolute;
    right: 0px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vw;
    /*background-color: yellow;*/
}

.burger{
    margin-right: 0px;
    position: absolute;
}

/*Bokning där nere*/
.bokning{
    margin-right: 0px;
    position: fixed;
    display: flex;
    bottom: 50px;
    grid-area: f;
    background-color: green;
}
.bokningNav{
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: pink;
    align-items: center;
    height: 70px;
    width: 100vw;
    z-index: 2;
    bottom: -15px;
}
.bokningLinks{ /*Bokning text*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    translate: all 1s;
    z-index: 3;
}
.boka_text{
    color: red;
    height: 45px;
}
.boka_text:hover{
    color: red;
    opacity: .9;
}



.navLinks{ /*rosa sido-bar*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: pink;
    align-items: center;
    width: 25%;
    translate: all 1s;
    z-index: 1;
    transition: 1.5s;
}

.navActive{
    transform: translateY(100vh);
}

.navLinks li{
    list-style: none;
}

.navLinks a{ /*bilder, kontakter, övrigt, hem*/
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div{ /*krysset*/
    width: 25px;
    height: 3px;
    background-color: rgba(76, 0, 130, 0.747);
    margin: 5px;
    border-radius: 10%;
    translate: all .3s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.h{
    grid-area: h;
    background: green;
    opacity: .0;
}
.na{
    grid-area: na;
    background: black;
    opacity: .0;
}
.s1{
    grid-area: s1;
    opacity: 1;
    margin-left: 15px;
}
.s2{
    grid-area: s2;
    background: blue;
    opacity: .0;
}
.s3{
    grid-area: s3;
    background: grey;
    opacity: .0;
}
.s4{
    grid-area: s4;
    background: white;
    opacity: .0;
}
.f{
    grid-area: f;
    background: orange;
    opacity: .0;
}
/*@media only screen and (min-width: 579px){
    #slider{
        display: none
    }
}*/
@media screen and (min-width: 579px){ /*479 kanske*/
    body{
        background: linear-gradient(45deg, rgba(221,8,144,1), rgba(75,0,130,1));
    }
    .gridwrapper{
        grid-template-areas:
        "he he he as"
        "s1 s1 s1 s1"
        "s2 s2 s2 s2"
        "s3 s3 s3 s3"
        "s4 s4 s4 s4"
        "f f f f"
        ;
    }
    .burger{
        display: none;
    }
    .navLinks{ /*rosa sido-bar*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        right: 0px;
        height: 60px;
        top: 0vh;
        background-color: pink;
        align-items: center;
        width: 60%;
        translate: all 1s;
        z-index: 1;
    }
    .bokningLinks{ /*Bokning text*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        width: 100vw;
        list-style-type: none;
        font-size: 20px;
        font-weight: bolder;
    }
    /*MITT KONTO*/

}

a:visited{
    color: rgba(221,8,144,1);
}

/*MITT KONTO*/

/*@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: 0;
    }
}

#slider{
    overflow: hidden;
    grid-area: he;
    height: 60px;
    width: 100%;
}
#slider figure img{
    float: left;
    width: 20%;
}
#slider figure{
    position: relative;
    width: 500%;
    animation: slide 10s infinite;
}*/



* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}
button{ /*Box med skapa på*/
  background-color: greenyellow;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-emphasis-style: ;
}
button:hover{
  opacity:1;
}
/*Style för cancel button*/
.cancelbtn{
  padding: 14px 20px;
  background-color: red;
}
.cancelbtn, .signupbtn{
  float: left;
  width: 50%;
}
.container{
  padding: 16px;
}
/*modal bakgrund*/
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}
/*Skapa konto box*/
.modal-content{
  background-color: none;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
hr{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.close{
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover,
.close:focus{
  color: #f44336;
  cursor: pointer;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 579px){ /*300 innan, båda funkar*/
  .cancelbtn, .signupbtn{
    width: 100%;
  }
}