*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgba(221,8,144,1), rgba(75,0,130,1));
}

.gridwrapper{
    display: grid;
    width: 99.99vw;
    height: 99.99vh;
    grid-gap: 4px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "h h h"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "s4 s4 s4"
    "f f f"
}

.h{
    grid-area: h;
    background: white;
    opacity: .8;
}
.s1{
    grid-area: s1;
    background: white;
    opacity: .8;
}
.s2{
    grid-area: s2;
    background: white;
    opacity: .8;
}
.s3{
    grid-area: s3;
    background: white;
    opacity: .8;
}
.s4{
    grid-area: s4;
    background: white;
    opacity: .8;
}

.f{
    grid-area: f;
    background: white;
    opacity: .8;
}

.logo{
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo:hover{
    background-color: gold;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: pink;
}

.burger{
    margin-right: 50px;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: pink;
    align-items: center;
    width: 20%;
    translate: all 1s;
}

.navActive{
    transform: translateY(100vh);
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: red;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    border-radius: 10%;
    translate: all .3s;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
